.footer {
  margin-top: 100px;
  background-color: #fafafa;
}

.text {
  color: #666;
  font-size: 14px;
  padding-top: 50px;
}

.foo {
  font-size: 15px;
  padding-top: 20px;
  opacity: 0.5;
}



@media only screen and (max-width: 400px) {
  .row {
    text-align: center;
  }
}
