.image {
  width: 35%;
  height: 100%;
  margin-top: 30px;
  background-size: cover;
  background-position: center;
}

.text {
  margin-top: 50px;
}

.sign {
  opacity: 0.9;
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.log {
  opacity: 0.9;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}



@media only screen and (max-width: 400px) {
  .container {
    max-width: 400px;
  }
  .sing {
    margin-right: 0;
  }
}
